{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename= 'css/index.css')}}">
{%endblock %}
{% block content %}

<body>
    <div class="container-fluid">

        {{wtf.quick_form(blog_form)}}

    

    </div>
    <div class="container">
        {% for blog in blogs %}

        <div class="col-md-3 ">
            <div class="text-centre">
                <div class="card text-white mb-3" style="max-width: 30rem; margin:1vw; padding:1vw;">
                    <h4 class="card-header">{{blog.title}}</h4>
                    <div class="card-body">

                        <p class="card-title">Category: {{blog.category}}</p>

                        <p class="card-text">Content: {{blog.content}}</p>
                        <p class="card-text">Author: {{blog.created_by| capitalize}}</p>
                        <p class="card-text">Date Posted: {{blog.date_posted.strftime('%Y-%m-%d')}}</p>
            
                        <a href="{{ url_for('main.delete_blog',id=blog.id)}}" class="text-danger" title="Delete Blog"><button>Delete Blog</button></a>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>

</body>

<section class="footer">
    <div class="container-fluid" style="background-color: #ffd97d">
        <footer class="text-center text-white">
            <div class="container-fluid">
                <section class="mt-5">
                    <div class="row text-center d-flex justify-content-center pt-5">
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="/" class="text-white">Home</a>
                            </h6>
                        </div>
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="/quotes" class="text-white">Quotes</a>
                            </h6>
                        </div>
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="/blog" class="text-white">Blogs</a>
                            </h6>
                        </div>
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{{url_for('main.profile',uname=current_user.username)}}"
                                    class="text-white">{{current_user.username}}</a>
                            </h6>
                        </div>

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{{url_for('auth.logout')}}" class="text-white">Logout</a>
                            </h6>
                        </div>

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{{url_for('auth.login')}}" class="text-white">Login</a>
                            </h6>
                        </div>

                    </div>

                </section>


                <hr class="my-3" />


                <section class="mb-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <p>

                            </p>
                        </div>
                    </div>
                </section>

            </div><br>

            <div class="" style="background-color: #ffd97d">
                © 2021 Copyright:
                <a class="text-white" href="/">blogweb.com</a>
            </div> <br>

        </footer>

    </div> <br>
</section>
{%endblock%}