{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}


{% block content %}

<div class="container-fluid">
  <h1 class="text-center"> Welcome To Blog-Web </h1>
  <div class="row">
    {% for post in posts %}
    <div class="col-md-12">
      <div class="panel panel-default ">


      </div>

    </div>
    {% endfor %}

  </div><br>

  <div class="col-sm-12 ">
    <div class="panel panel-default">
      <div class="card">
        <div class="panel-body quote">
          <blockquote class="blockquote mb-0 card-body">
            <p>{{quote.quote}}</p>
            <footer class="blockquote-footer" style:#2a9d8f>
              <cite title="Source Title">{{quote.author| capitalize}}</cite>

            </footer>

          </blockquote>
        </div>

      </div>
    </div>
  </div>
  {% for blog in blogs %}
  <div class="col-md-6 ">
    <div class="text-centre">
      <div class="card text-white mb-3" >
        <h3 class="card-title">{{blog.category}}</h3>
        <div class="card-body">

          
          <h4 class="card-header">{{blog.title}}</h4>

          <p class="card-text">{{blog.content}}</p>
          <p class="card-text">{{blog.created_by| capitalize}}</p>
          <p class="card-text">{{blog.date_posted.strftime('%Y-%m-%d')}}</p>
          <a href="/blog" class="tag"><button class="btn-success">Add Blog</button></a>
          <a href="{{ url_for('main.blog_details', id = blog.id)}}"><button class="btn-success"><i class="fa fa-comment" aria-hidden="true"></i></button></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<hr>

<section class="footer">
  <div class="container-fluid" style="background-color: #2a9d8f">
      <footer class="text-center text-white">
          <div class="container-fluid">
              <section class="mt-5">
                <div class="row text-center d-flex justify-content-center pt-5">
                    <div class="col-md-3">
                      <h6 class="text-uppercase font-weight-bold">
                        <a href="mailto: kibiezekiel@gmail.com" target="_blank" class="text-white"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                      </h6>
                    </div>
                    
                    <div class="col-md-3">
                      <h6 class="text-uppercase font-weight-bold">
                        <a href="http://wa.me/+254722991833" target="_blank" class="text-white"><i class="fab fa-whatsapp fa-2x"></i></i>
                        </a>
                      </h6>
                    </div>
                   
                    <div class="col-md-3">
                      <h6 class="text-uppercase font-weight-bold">
                        <a href="https://twitter.com/KibiegoEzekiel" target="_blank" class="text-white"><i class="fab fa-twitter fa-2x"></i></i></a>
                      </h6>
                    </div>
                    
                    <div class="col-md-3">
                      <h6 class="text-uppercase font-weight-bold">
                        <a href="https://www.facebook.com/kibiego.ezekiel.9" target="_blank" class="text-white"><i class="fab fa-facebook fa-2x"></i></a>
                      </h6>
                    </div>
                    
                  </div>
              </section>
              <section class="mb-5">
                  <div class="row d-flex justify-content-center">
                      <div class="col-lg-8">
                          <p>

                          </p>
                      </div>
                  </div>
              </section>

          </div>

          <div class="" style="background-color: #2a9d8f">
              © 2021 Copyright:
              <a class="text-white" href="/">blogweb.com</a>
          </div> <br>

      </footer>

  </div>
</section>

{% endblock %}
